<div id="navHeaderDiv" *ngIf="nav.visible" >
  <nav class="navbar navbar-light fixed-top" style="background-color: #0069d9;color: #fff;">
    <a class="navbar-brand" href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNsXkRFoepPBBNxAaGjL1OBGToTpqN22KQpwVr1ONcF2K7icPYxg" width="30" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto ">
          <li *ngFor="let category of categories" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarCategoryMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{category?.categoryName}}
            </a>
            <div *ngFor="let subCategory of category.subCategories" class="dropdown-menu" aria-labelledby="navbarCategoryMenuLink">
              <a *ngFor="let subCategory of category.subCategories" class="dropdown-item" [routerLink]="['/ContentView']">{{subCategory.subCategoryName}}</a>
            </div>
          </li>
        </ul>
      
    </div>
  </nav>
</div>