<div *ngFor="let content of contentDetailList" class="container-fluid">
        <div class="row spaceAround">
                <div class="col-xs-12 col-xl-3" *ngIf="content.mainContentImage">
                        <img (click)="navigateToSubContent(content._id)" class="img-responsive " style="height:310px" [src]="content.mainContentImage">
                        <div class="col-6 col-xs-6 col-xl-3 ">
                                <button class="btn btn-primary " (click)="navigateToSubContent(content._id)">
                                        VIEW PRODUCTS
                                </button>
                        </div>
                        <div class=" ">
                                               
                                </div>
                        <div class=" ">
                                <button class="btn btn-primary " (click)="shareContent(content._id)">
                                         SHARE
                                </button>
                        </div>
                </div>
        </div>
     
</div>